[workspace]
members = [
    "day01",
    "day02",
    "day03",
    "day04",
    "day05",
    "day06",
    "day07",
    "day12",
]
resolver = "3"

[workspace.package]
edition = "2024"

# Optional: add description, repository, etc. here
